body {
    font-family: 'Iceland', cursive;
}

.standard button {
    font-size: 32px;
    margin: 3px;
    padding: 7px;
    width: 50px;
    border-radius: 10px;
    font-family: 'Iceland', cursive;
}
.standard {
    display: inline-block;
}

#zer {
    width: 110px;
}

#eq {
    height: 110px;
    width: 60px;
    font-size: 32px;
}

#answ-Box {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#answ-h2 {
    display: inline-block;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray
}